ng-form.chat-box(name="ChatBox")
	.chat-box__photos-thumbs(ng-if="attachments.length")
		.chat-box__photos-thumb(
			ng-repeat="photo in attachments"
			ngf-background="photo"
		)
			.chat-box__photos-thumb__remove-btn.sl-icon.sl-icon-close(ng-click="removePhoto($index)")

	.chat-box__textarea__container
		.chat-box__textarea__btns
			label.chat-box__textarea__btn(ng-if="model.isAttachmentsBtnVisible")
				input.t-hidden-input(
					type="file"
					ng-model="model.attachments"
					ngf-select="true"
					ngf-accept="accept"
					accept="image/*"
					ngf-max-size="4194304"
					ngf-multiple="true"
					ngf-keep="true"
					gf-keep-distinct="true"
				)
				.sl-icon.sl-icon-paperclip-1
		.chat-box__textarea(
			model="text"
			text-editor
			placeholder="{{ placeholder }}"
			opengraph="opengraph"
			on-submit="submit()"
		)

	.chat-box__navig(ng-if="model.attachments && model.attachments.length")
		.p_5.t-text_right
			.btn.btn_22.btn_orange.btn_inline(ng-click="submit()") submit
