div(ng-if="model.editing")
	.p_10

		.btn.btn_32.btn_red.btn_inline(
			ng-bind="'COMMON.CANCEL_BUTTON' | translate"
			ng-click="cancel()"
		)

		.vp_20

		members-autocomplete.selectize_32.t-w300.t-no-arrow(
			ajax-params='{"roles": ["Expert", "PR"]}'
			placeholder="{{ 'MY_COMPANY.USERS.FORM.FIND_HP_MEMBER_PLACEHOLDER' | translate }}"
			on-item-selected="inviteHackPackMember(user)"
		)

		.hr-line
			.hr-line__text(ng-bind="'COMMON.OR' | translate")

		.inline-elems
			input.input.input_32.t-w200(
				type="email"
				ng-model="model.memberForm.email"
				placeholder="E-mail"
			)
			.select.select_32.t-w200
				select(
					ng-model="model.memberForm.role"
					ng-options="role.value as (role.label | translate) for role in model.addAdminRolesOptions"
					ng-class="{ 'default' : !model.memberForm.role }"
				)
					option(
						value=""
						disabled
						ng-bind="'COMMON.ROLE_PLACEHOLDER' | translate"
					)
			.btn.btn_32.btn_green(
				ng-click="inviteMemberViaEmail()"
				ng-bind="'COMMON.INVITE_BUTTON' | translate"
			)

	.hr-line
